<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<!-- Add the database name -->
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost/finance_tracker
		</property>
		
		<property name="hibernate.connection.username">
			root
		</property>
		
		<property name="hibernate.connection.password">
			supersecret
		</property>
		
		<property name="hibernate.jdbc.batch_size">
      		25
   		</property>
		
		<!-- List of XML mapping files -->
		<mapping resource="Purchase.hbm.xml"/>
		<mapping resource="PurchaseSet.hbm.xml"/>
	</session-factory>
</hibernate-configuration>